extends ../default

block content
  include ../template/nav
  div(class=['ui','container','grid','stackable'])
    div(class=['sixteen','wide','column'])
      br
      br
      div(class=['ui','container','grid','stackable'])
      form(class=['ui', 'form'] action='http://localhost:3000/buscarproducto' method='post')
        div(class=['ui icon input field'])
          input(type='text' placeholder='Buscar...' name='nombre' id='nombre-producto')
          i(class='circular search link icon')
        span 
          button(class=['ui primary button'] id='btn-buscar')= 'Buscar'
      h2(class=['ui','header','blue','dividing'])= 'Lista de Productos'
      
      table(class=['ui','table','celled'] id='tbl-productos')
        thead
          tr
            th= 'ID'
            th= 'Nombre'
            th= 'Precio'
            th= 'Stock'
            th= 'Fecha de creacion'
            th= 'Operaciones'
        tbody
          each producto in productos
            tr
              td(id='id_producto')= producto.id_producto
              td= producto.nombre
              td= producto.precio
              td= producto.stock
              td= producto.fecha_creacion
              td 
                a(class=['ui button basic icon'] href='#' data-inverted='' data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['trash icon'])
                a(class=['ui button basic icon'] href='http://localhost:3000/modificarproducto/'+producto.id_producto data-inverted='' data-tooltip='Modificar' data-position='top center' id='btn-modificar')
                  i(class=['edit icon'])

  script(src='/javascripts/productos.js')
          
            
      
  
