extends default

block content
  include template/nav
  div(class=['ui','container','grid','stackable'])
    div(class=['sixteen','wide','column'])
      h3(class=['ui','header','blue'])= 'Bienvenido al CRUD de Productos'
      img(src='http://www.thehindu.com/business/Economy/article17369871.ece/alternates/FREE_660/PO27Onlineshopping')
  
