div(class=['ui','pointing','menu'])
  a(class=['item'] href='http://localhost:3000')= 'Inicio'
  //a(class=['item'] href='http://localhost:3000/nuevo')= 'Nuevo Producto'
  a(class=['item'] href='http://localhost:3000/productos')= 'Ver Productos'
  div(class=['right', 'menu'])
    div(class=['item'])
      a(href='http://localhost:3000/nuevo')
        button(class=['ui positive button icon'])
          i(class='cart plus icon')
          span  Nuevo Producto
        
        
      button(class=['ui primary button'] name='Login')
        i(class='user icon')
        span Login
